<div class="header">
  <h1>Reddit Code Viewer</h1>
  <h2>/r/{{ reddit }}</h2>
</div>
<div class="wrapper">
  <div class="menu">
    <div class="selectWrapper">
      <label for="limit">Feed limit</label>
      <select id="limit" (change)="onChangeLimit($event)" [value]="limit">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
      </select>
    </div>

    <div class="selectWrapper">
      <label for="reddit">Subreddit</label>
      <select id="reddit" (change)="onChangeSubbredit($event)" [value]="reddit">
        <option value="angular">Angular</option>
        <option value="reactjs">ReactJS</option>
        <option value="reactnative">React Native</option>
      </select>
    </div>

    <div class="selectWrapper">
      <label>Current page: {{ pageIncrements + 1 }}</label>
      <button [disabled]="pageIncrements === 0" (click)="previousPage()">
        Previous page
      </button>
    </div>
    <div class="selectWrapper">
      <button (click)="nextPage()">Next page</button>
    </div>
  </div>

  <reddit-list-item *ngFor="let item of list" [item]="item"></reddit-list-item>
</div>
